jarvisvla.egg-info/
log/
logs/
wandb/


data/
logs/
models/
checkpoints/
submodules/
out/
tmp/
trash/
wandb/
ultron.egg-info/

out
tmp
checkpoints

*.pyc
.gradio


data/
logs/
log/
models/
checkpoints/
submodules/
__pycache__/
out/
tmp/
temp/
trash/
wandb/
record/
ultron.egg-info/


distill_sampler_model.yaml

out
tmp
checkpoints

*.pyc
